body {
  background-color: #ffff;
  font-family: "Lucida Console", Courier, monospace;
}

img.resize {
  max-width: 30%;
  max-height: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-left: auto;
  margin-right:auto;
  width: 50%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2d4829;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* TODO: keep link colored when selected */
li a:hover:not(.active) {
  background-color: #f1e4d3;
}

li a:active {
  background-color: #f1e4d3;
}

hr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 1.2px;
  width: 100%;
  background-color:#666;
  opacity: 0.5;
}

.active {
  background-color: #f1e4d3;
}

.navigation-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-bottom: 20px;

}
.navigation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}

.page-container {
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
  margin: 00px auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  max-width: 1000px;
  overflow: hidden;
  height: auto;

}

.sub-page-container {
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1000px;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden;
}

.text-body {
  color: #7a7a74;
  margin-bottom: 30px;
  height: auto;
  width: auto;
  overflow: visible;
}

.header {
  text-align: center;
  color: #2d4829;
}

h1.header {
  color: #2d4829;
  background-color;
  text-align: center;
  padding-top: 20px;
}

.video {
    width: 800px;
    /* max-height: 800px; */
    max-width: 80%;
    max-height: 30%;
    overflow: hidden;
    margin-bottom: 30px;
}

.mobile-video {
    height: 400px;
    float: left;
    margin-right: 50px;
    width: 200px;
    overflow: hidden;
    margin-bottom: 10px;
    /* max-height: 400px; */
    max-width: 30%;
    max-height: 30%;
}

.mobile-image {
    image-orientation: from-image;
    width: auto;
    height: 400px;
    /* max-height:400px;
    max-width: 400px; */
    max-width: 30%;
    max-height: 30%;
    float: left;
    margin-right: 50px;
    overflow: hidden;
    margin-bottom: 30px;
}


.image {
    image-orientation: from-image;
    height: auto;
    width: 400px;
    max-width: 30%;
    max-height: 30%;
    float: left;
    margin-right: 50px;
    overflow: hidden;
}
