.modal-button {
    display: block;
    color: #2d4829;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    overflow: "display";
    background-color: #d3d3d3;
    width: 100%;
}
.modal-button:hover:not(.active) {
  background-color: #f1e4d3;
}

.modal-button:active {
  background-color: #f1e4d3;
}

.dropdown:hover .modal-button {
    background-color: #f1e4d3;
}


#delete.modal-button:hover:not(.active) {
    background-color: #ff6e6e;
}

.modal-options {
    padding: 15px;
    display: flex;
    width: 100%;
}

.add-movie-form {
    float: left;
    width: 100%;
    height: 100%;
}

.search-bar {
    float: left;
    display: flex;
}



/* Style inputs */
.search-bar input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  float:left;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lucida Console", Courier, monospace;

}

/* Style the submit button */
.search-bar input[type=submit] {
  width: 30%;
  background-color: #d3d3d3;
  float: left;
  color: #2d4829;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Lucida Console", Courier, monospace;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #f1e4d3;
}

.search-container {
    width: auto;
    float: right;
    /* padding: 15px; */
    display: inline-block;
}
